
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/css/admin.css">
    <script src="https://kit.fontawesome.com/89de733934.js" crossorigin="anonymous"></script></head>
<body>
<input type="checkbox" id="check">
<label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
    <header>My App</header>
    <ul>
        <li><a href="/admin"><i class="fas fa-qrcode"></i>Dashboard</a></li>
        <li><a href="/admin/uniAdmissionAdminEdit"><i class="fas fa-edit"></i>Edit Uni-Admission</a></li>
        <li><a href="/admin/uniAdmissionAdminAdd"><i class="fas fa-plus"></i>Add Uni-Admission</a></li>
        <li><a href="/admin/otherAddition"><i class="fas fa-calendar-week">Other Addition</i></a></li>
        <li><a href="/admin/blog_admin"><i class="fab fa-blogger-b"></i>Blog</a></li>
        <li><a href="/admin/scholarship_admin"><i class="fas fa-funnel-dollar"></i>Scholarship</a></li>
        <li><a href="/admin/team_admin"><i class="fas fa-users"></i>Team</a></li>
        <li><a href="/admin/edit_aboutUs"><i class="fas fa-address-card"></i>Edit About Us</a></li>
    </ul>
</div>
<section></section>
</body>
</html>
