
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/css/admin.css">
    <script src="https://kit.fontawesome.com/89de733934.js" crossorigin="anonymous"></script></head>
<body>
<input type="checkbox" id="check">
<label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
    <header>AbroadX</header>
    <ul>
        <li><a href="/admin"><i class="fas fa-qrcode"></i>Dashboard</a></li>
        <li><a href="/admin/uniAdmissionAdminEdit"><i class="fas fa-edit"></i>Edit Uni-Admission</a></li>
        <li><a href="/admin/uniAdmissionAdminAdd"><i class="fas fa-plus"></i>Add Uni-Admission</a></li>
        <li><a href="/admin/otherAddition"><i class="fas fa-calendar-week">Other Addition</i></a></li>
        <li><a href="#"><i class="far fa-question-circle"></i>About</a></li>
        <li><a href="#"><i class="fas fa-pro"></i>Services</a></li>
        <li><a href="#"><i class="far fa-snout"></i>logout</a></li>

    </ul>
</div>
<section></section>
</body>
</html>
