<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit About Us</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/edit_aboutUs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://kit.fontawesome.com/89de733934.js"></script>

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
</head>
<body>
<input type="checkbox" id="check">
<label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
    <header>About Us</header>
    <ul>
        <li><a href="/admin"><i class="fas fa-qrcode"></i>Dashboard</a></li>
        <li><a href="/admin/uniAdmissionAdminEdit"><i class="fas fa-edit"></i>Edit Uni-Admission</a></li>
        <li><a href="/admin/uniAdmissionAdminAdd"><i class="fas fa-plus"></i>Add Uni-Admission</a></li>
        <li><a href="/admin/otherAddition"><i class="fas fa-calendar-week">Other Addition</i></a></li>
        <li><a href="/admin/blog_admin"><i class="fab fa-blogger-b"></i>Blog</a></li>
        <li><a href="/admin/scholarship_admin"><i class="fas fa-funnel-dollar"></i>Scholarship</a></li>
        <li><a href="/admin/team_admin"><i class="fas fa-users"></i>Team</a></li>
        <li><a href="/admin/edit_aboutUs"><i class="fas fa-address-card"></i>Edit About Us</a></li>
    </ul>
</div>

<section id="edit-about-us">
    <% if(message.length > 0) { %>
        <div class="alert alert-success" role="alert">
            <strong> <%- message %> </strong>
        </div>
    <% } %>
    <div class="card card-6">
        <div class="card-body">
            <form action="/admin/edit_aboutUs" method="POST" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="row">
                        <div class="col">
                            <h3>About Us Description</h3>
                        </div>
                        <div class="col-12">
                            <div class="value">
                                <div class="input-group">
                                    <textarea class="form-control" name="description" placeholder="Write Description"><%= aboutUs.description %></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <h3>Upload Image</h3>
                    <div class="value">
                        <p>Current Image: <%= aboutUs.aboutUsImage %></p>
                        <div class="input-group">
                            <input class="input-file" type="file" name="uploaded_image">
                        </div>
                        <p><%= labelWarning %></p>
                    </div>
                </div>
                <div class="form-row">
                    <button class="btn btn-primary" name="submit" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>

</section>

</body>
</html>