<footer id="footer">
    <div class="container footer-container">
        <div class="row">
            <div class="footer-col">
                <h4>Organization</h4>
                <ul>
                    <li><a href="/about_us">About Us</a></li>
                    <li><a href="/contact_us">Contact Us</a></li>
                    <li><a href="#">Team</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Programs</h4>
                <ul>
                    <li><a href="#">University Addmission</a></li>
                    <li><a href="#">Scholarship</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Get Help</h4>
                <ul>
                    <li><a href="#">Community</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Follow Us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
    <p>© AboardX 2021. All Rights Reserved</p>
</footer>