<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link
            href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Sacramento&display=swap"
            rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>AbroadX</title>


</head>
<body>

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/img/logo/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link nav_bar_features" href="/">Home</a>
                <a class="nav-link nav_bar_features" href="/uniAdmission">University Admission</a>
                <a class="nav-link nav_bar_features" href="/scholarship">Scholarship</a>
                <a class="nav-link nav_bar_features" href="/faq">FAQ</a>
                <a class="nav-link nav_bar_features" href="/blog">Blog</a>
                <a class="nav-link nav_bar_features" href="/login">Sign In</a>
                <a class="nav-link nav_bar_features" href="/register">Sign Up</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid form">

    <div class="card-head">
        Login
    </div>

    <div class="card">
        <div class="card-body">

            <form action="/auth/login" method="POST">
                <div class="form-group mt-4 mb-4">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="form-group mt-4 mb-4">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="name" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>

            </form>
        </div>

        {{#if message }}
            <h4 class="alert alert-danger mt-4"> {{message}}</h4>
        {{/if}}
    </div>
</div>


<!-- Footer section -->
<footer id="footer">
    <div class="container footer-container">
        <div class="row">
            <div class="footer-col">
                <h4>Organization</h4>
                <ul>
                    <li><a href="/about_us">About Us</a></li>
                    <li><a href="/contact_us">Contact Us</a></li>
                    <li><a href="/team">Team</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Programs</h4>
                <ul>
                    <li><a href="/uniAdmission">University Admission</a></li>
                    <li><a href="/scholarship">Scholarship</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Get Help</h4>
                <ul>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/faq">FAQ</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Follow Us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
    <p>© AboardX 2021. All Rights Reserved</p>
</footer>


<!-- jQuery Here -->
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>

<!-- jQuery counterup, waypoint -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/assets/js/jquery.waypoints.min.js"></script>
<script src="/assets/js/jquery.counterup.min.js"></script>

</body>
</html>