<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/img/logo/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link nav_bar_features" href="/">Home</a>
                <a class="nav-link nav_bar_features" href="/uniAdmission">University Admission</a>
                <a class="nav-link nav_bar_features" href="/scholarship">Scholarship</a>
                <a class="nav-link nav_bar_features" href="/faq">FAQ</a>
                <a class="nav-link nav_bar_features" href="/blog">Blog</a>
              <%  if(user) {     %>
                    <a class="nav-link nav_bar_features" href="/profile">Your Profile</a>
                    <a class="nav-link nav_bar_features" href="/auth/logout">Logout</a>
               <%} else { %>
                    <a class="nav-link nav_bar_features" href="/login">Sign In</a>
                    <a class="nav-link nav_bar_features" href="/register">Sign Up</a>
               <% } %>


            </div>
        </div>
    </div>
</nav>