#blog-details {
    text-align: center;
    padding: 2%;
    background: #f1f6fb;
    color: black;
    min-height: 400px;
    display: inline-block;
    width: 100%;
}

#blog-details .single-blog-post {
    padding-top: 26px;
}

.blog_body p {
    margin-bottom: 20px;
    font-size: 1.3rem;
    text-align: justify;
}

.feature-img {
    float: left;
    margin: 10px;
    display: flex;
}

.img-class {
    width: 600px;
    height: 400px;
}

#blog-details .blog_body h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

@media (max-width: 992px) {
    .img-class {
        width: 500px;
        height: 450px;
    }
}

@media (max-width: 768px) {
    #blog-details .blog_body h2 {
        font-size: 1.8rem;
    }
    .img-class {
        width: 450px;
        height: 400px;
    }
}

