body{
    background: -webkit-linear-gradient(left, #0d2d3e, rgb(29, 110, 133));
}
.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
    border-radius:  1rem;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0d2d3e;
}
.contact-form h4{
    margin-bottom: 8%;
    text-align: center;
    color: #0d2d3e;
}

.form-group {
    padding: 2%;
}
.contact-form .btnContact {
    width: 48%;
    border: none;
    border-radius: 0.5rem;
    padding: 1.5%;
    background: #ff7d7a;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #ff7d7a;
    border: none;
    cursor: pointer;
}

@media(max-width: 574px){
    .contact-form .btnContact {
        font-size: 15px;
    }
}