.card-head{

    font-size: 7vw;
    text-align: center;
}

body{
    background-color: #edf2f8;

}
.form{
    /* width: 50.5rem; */
    font-family: 'Merriweather', serif;

    margin-bottom: 200px;

}
label{
    font-family: 'Montserrat', sans-serif;
}