#scholarship {
    background: -webkit-linear-gradient(left, #0d2d3e, rgb(29, 110, 133));
    font-family: 'Montserrat', sans-serif;
    padding: 3% 10%;
    width: 100%;
}

.search-box {
    padding: 2% 0;
}
.btn.btn-search {
    border-radius: 0;
    height: 50px;
    background: #1ABC9C;
    color: #fff;
    box-shadow: none;
}
.btn:hover{
    background: #ff7d7a;
}

.search-input:focus{
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.scholarship-card {
    margin-bottom: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    position: relative;
}

.scholarship-card .card-warp {
    width: 100%;
    display: flex;
    position: relative;
    padding: 30px;
}

.scholarship-card .card-warp::before {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    content: "";
}

.scholarship-card .card-img {
    border-radius: 5px;
    width: auto;
    min-width: 270px;
    padding: 0;
    text-align: center;
}

.scholarship-card .card-img img {
    max-width: 300px;
    max-height: 200px;
}

.scholarship-card .card-info {
    padding-left: 30px;
    padding-right: 0;
}

.scholarship-card .card-info h2 {
    font-size: 21px;
    line-height: 31px;
    margin-bottom: 12px;
}

.scholarship-card .card-info h2 a {
    color: #171A1F
}

.scholarship-card .card-info h2 a:hover {
    color: #197CDD
}

.scholarship-card .card-info ul {
    margin-bottom: 0;
}

.scholarship-card .card-info ul li {
    list-style: none;
    font-size: 14px;
    line-height: 30px;
    max-width: 90%;
    position: relative;
    padding-left: 30px;
}

.scholarship-card .card-info ul li i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 14px;
    line-height: 30px;
    margin-right: 14px;
}

.scholarship-card .card-more {
    line-height: 1;
    text-align: right;
    position: relative;
}

.scholarship-card .card-more a {
    font-family: "Gotham", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 40px;
    color: #ffffff;
    background: #197CDD;
    width: 170px;
    height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    right: 30px;
    top: -70px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.scholarship-card .card-more a:hover {
    color: #ffffff;
    -webkit-box-shadow: 0px 10px 20px rgba(39, 140, 239, 0.25);
    box-shadow: 0px 10px 20px rgba(39, 140, 239, 0.25);
    background: #ff7d7a;
}

.scholarship-card .card-more span {
    display: inline-block;
    margin-right: 8px;
}

@media (max-width:845px){
    .scholarship-card .card-more{
        text-align:left;
        padding:10px 30px;}
    .scholarship-card .card-more a{
        position:relative;
        top:auto;
        right:auto;}
}




