#scholarship-admin {
    padding: 5% 15%;
}

#scholarship-admin h3 {
    margin-left: 22px;
}

.row {
    padding-bottom: 1%;
}

.add-button {
    font-weight: bold;
    border: 2px solid black;
}

.add-button:hover {
    background-color: #888888
}

#scholarship-admin .table .btn:hover {
    background-color: #888888
}