.header-area .header-top {
    background: #0d2d3e;
    padding: 8px 0px;
  }

  .header-button {
      padding-right: 20px;
  }

  .header-area .header-top  li {
    display: inline-block;
  }

  .nav-features {
      color: salmon;
  }

  .nav_bar_features {
      font-weight: bold;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #0d2d3e;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ff7d7a;
}

/* banner section */
  #banner {
    padding: 2% 2%;
  }

  /* Service Section */
  #services {
    padding: 3% 10%;
    background-color: #f7f7f7;
  }

  .service-title h2{
    font-size: 40px;
    color: #092c3f;
    font-weight: 900;
    padding-bottom: 4%;
  }

.row-flex {
  display: flex;
  flex-wrap: wrap;
}

#services [class*="col-"] {
  margin-bottom: 20px;
}

.gridBox {
    background-color: white;
    margin-bottom: 20px;
    transition: ease-out 0.8s;
    height: 100%;
    text-align: center;
    border-style: solid;
    border-width: 4px;
    border-color: #0d2d3e;
    padding: 10%;
  }

  .gridBox:hover {
    box-shadow: inset 0 0 0 500px #ff7d7a;
  }

  .services_title{
    color: #0d2d3e;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 25px;
  }
  .services_des{
    color: #0d2d3e;
    font-size: 1.1rem;
    font-weight: bold;
  }

  /* Statistics section */

  #statistics{
    background-color: #ff7d7a;
    color: white;
    background-attachment: fixed;
    padding: 4% 5%;
    ;
  }

  #statistics i {
    font-size: 50px;
  }

  .stat-items h2{
    font-weight: bold;
    color: #0d2d3e;
  }

  #statistics p{
    font-weight: bold;
  }


  /* Footer section */

#footer {
  position: absolute;
  width: 100%;
  background-color: #0d2d3e;
  padding: 1% 5%;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

  .footer-container {
     max-width: 1170px;
     margin: auto;
     padding-top: 4%;
  }
  
  .footer-col ul {
    list-style: none;
  }

  .footer-col {
    width: 25%;
    padding: 0 15px;
  }

  .footer-col h4 {
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }

  .footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color:#ff7d7a;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }

  .footer-col ui li:not(:last-child){
    margin-bottom: 10px;
  }

  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }

  .footer-col ul li a:hover{
    color: #ff7d7a;
    padding-left: 10px;

  }

  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 100%;
    color: white;
    transition: all 0.5s ease;
  }
  .stat-items p {
    font-size: 1.5rem;
  }

  #footer p {
    color: white;
    text-align: center;
    padding-top: 2%;
  }

  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ff7d7a;
  }

  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
    }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
      margin-bottom: 30px;
    }
  }




