
@media (min-width: 768px){

}

.content{
    border: 2px solid grey;
    text-align: center;
    margin: 20px;

}

.content img{
    width: 100px;
    height: 100px;
}

section{
    font-family: 'Roboto Mono', monospace;
    font-weight: 900;
}

.checkbox{
    display: inline-block;
    padding: 20px;
}
.degree_type_img{

    display: inline-block;
    /*margin-top: 50px;*/

}

.varsity_name{
    display: inline-block;
}

#content-phd{
    transition: ease-out 0.8s;
    cursor: pointer;
}

#content-bachelor{
    transition: ease-out 0.8s;
    cursor: pointer;

}

#content-master{
    transition: ease-out 0.8s;
    cursor: pointer;

}

#content-total{
    transition: ease-out 0.8s;
    cursor: pointer;

}


#content-phd:hover{
    box-shadow: inset 0 0 0 500px #0F75A8;
}

#content-master:hover{
    box-shadow: inset 0 0 0 500px #0F75A8;
}

#content-bachelor:hover{
    box-shadow: inset 0 0 0 500px #0F75A8;
}

#content-total:hover{
    box-shadow: inset 0 0 0 500px #0F75A8;

}

.button-grp{
    text-align: right;
}

.button{
    width: 100px;
    height: 50px;

}
#myBtn {
    display: none;
    position: fixed;
    width: 80px;
    height: 80px;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 50px;
    border: none;
    outline: none;
    background-color: #0F75A8;
    line-height: 7px;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    transition-delay: 0.8s;
}

#myBtn:hover {
    background-color: #555;
}

.save_button,.confirm_button{
    width: 100px;
    height: 50px;
    float: right;
    margin: 10px;
}

#cancel_button,#cancel_button_delete {
    width: 100px;
    height: 50px;
    float: right;
    margin: 10px;
}

#delete_section{
    margin-top: 30px;
    margin-bottom: 50px;
    height: 120px;
    border-radius: 5px;
}

.info_row_section{
    margin-top: 120px;
    background: whitesmoke;
}

.info_row{
    margin-top: 20px;
    border-radius: 10px;
    background: antiquewhite;
    box-shadow: 5px 5px grey ;
}
#selected_options_title{
    text-align: center;
    font-weight: bolder;
}

#update_button ,#delete_button{
    text-decoration: none;
   padding: 5px;
    margin-bottom: 5px;
    background-color: grey;
    color: whitesmoke;
}
